@{ViewData["Title"] = "Personel Listesi";}
<script src="/js/Table.js"></script>

<div class="container">
    <table class="table" id="PersonelTable">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Email</th>
                <th>Cinsiyet</th>
                <th>Doğum Ülkesi</th>
                <th>Doğum Şehri</th>
                <th>Doğum Günü</th>
                <th>Not</th>
                <th>Fotoğraf</th>
                <th>Pozisyonlar</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody id="PersonelTBody">

        </tbody>
    </table>
</div>